.Button {
  font-size: 0.8rem;
  align-self: center;
  border-radius: 100px;
  border-color: transparent;
  padding: 4px 10px;
  margin-left: 2px;
  margin-right: 2px;
  min-width: 75px;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.Button:hover {
  opacity: 0.8;
  border-color: transparent;
  cursor: pointer;
}

.Button:hover:active {
  background-color: #0d5589 !important;
}

.Button:active {
  background-color: #0d5589 !important;
}

.Button:focus {
  background-color: #0d5589;
}

.Wide {
  padding: 10px 50px;
  width: 100%;
}

.Blue,
.BlueOutline:hover,
.Bright:hover {
  background-color: #0d5589;
  color: #ffffff;
}

.BlueOutline,
.Blue:hover {
  background-color: #0d5589;
  color: #b99a45;
}

.Black,
.BlackOutline:hover {
  background-color: #242a3d;
  color: aliceblue;
}

.Black:hover,
.BlackOutline {
  background-color: aliceblue;
  color: #242a3d;
}

.Bright {
  background-color: #0d5589;
  color: #b99a45;
}

.Gray,
.Gray:hover,
.Gray:focus,
.Gray:active {
  background-color: #cccccc !important;
  border-color: #666666 !important;
  color: #666666 !important;
  cursor: not-allowed !important;
  opacity: 1 !important;
}

.Red {
  background-color: #ff0000;
  color: #ffffff;
}

.Red:hover {
  background-color: #cc0000;
  color: #ffffff;
}

.Button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 1;
}
