.ContactForm {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.Title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.ContactForm form > div {
  margin-bottom: 15px;
}

.ContactForm label {
  display: block;
  margin-bottom: 5px;
}

.ContactForm input,
.ContactForm textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.SubmitButton,
.EditButton,
.CancelButton {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
  font-size: 16px;
  font-weight: 700;
}

.SubmitButton,
.EditButton {
  background-color: #0d5589;
  color: white;
}

.SubmitButton:hover,
.EditButton:hover {
  color: #b99a45;
}

.CancelButton {
  background-color: red;
  color: white;
}

.CancelButton:hover {
  background-color: darkred;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 5px;
}

.successMessage {
  text-align: center;
  margin-top: 2rem;
}

.successMessage h2 {
  color: #0d5589;
  margin-bottom: 1rem;
}

.successMessage p {
  margin-bottom: 1.5rem;
}

.successMessage .buttonContainer {
  justify-content: center;
}

.thankYouImage {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
  border-radius: 8px;
}

.placeholder {
  font-style: italic;
  color: #666;
  margin-bottom: 20px;
}

.ConfirmModal .modal-content {
  background-color: #f5f5f5;
  border-radius: 8px;
}

.ConfirmModal .modal-header {
  background-color: #0d5589;
  color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.ConfirmModal .modal-title {
  font-weight: bold;
}

.ConfirmModal .modal-body {
  padding: 20px;
  font-size: 16px;
}

.ConfirmModal .modal-footer {
  border-top: none;
  padding: 15px;
}

.ConfirmModal .btn-secondary {
  background-color: #0d5589;
  color: white;
  border: none;
}

.ConfirmModal .btn-secondary:hover {
  color: #b99a45;
}

.ConfirmModal .btn-danger {
  background-color: red;
  color: white;
  border: none;
}

.ConfirmModal .btn-danger:hover {
  background-color: darkred;
}

.btn_secondary {
  background-color: #0d5589 !important;
  color: white !important;
}

.btn_secondary:hover {
  color: #b99a45 !important;
}

.btn_danger {
  background-color: red !important;
  color: white !important;
}

.btn_danger:hover {
  background-color: darkred !important;
}

.DisabledButton {
  background-color: #cccccc !important;
  border-color: #666666 !important;
  color: #666666 !important;
  cursor: not-allowed !important;
}
