.coursesPage {
  padding: 20px 0;
}

.courseTitle {
  text-align: center;
  margin-bottom: 30px;
  color: #0d5589 !important;
  font-weight: bold;
  font-size: 2.5em;
}

.courseBox {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  border: 0.1px solid #0d5589;
  box-shadow: 0 4px 8px rgba(185, 154, 69, 0.3);
}

.courseBox h2 {
  margin-bottom: 20px;
  color: #0d5589;
}

.courseDescription {
  color: #000000 !important;
}

.courseImage {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.bookButton {
  background-color: #0d5589;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.bookButton:hover {
  background-color: #083d63;
  color: #c7ae6a;
}

.buttonContainer {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.homeButton {
  background-color: #c7ae6a;
  color: #083d63;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.homeButton:hover {
  background-color: #c7ae6a;
  color: white;
}
